table
{
    width: 80%;
    margin: 40px auto;
    background:rgb(143, 178, 183) ;
}
 
.list
{
    text-align: center;
    width: 100%;
}

td{
    border: 1px solid blueviolet;
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), .list thead > tr{
    background-color: aliceblue;
}
input[type ="submit"],input[type ="reset"]{
    background-color: darkolivegreen;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: 1px solid green;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

input[type = "text"], input[type = "number"]
{
    width: 91%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid green;
    border-radius: 4px;
}

input[type ="reset"]:hover
{
    background-color: lawngreen;
}
input[type ="submit"]:hover
{
    background-color: lawngreen;
}

button
{
    background-color: darkolivegreen;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: 1px solid green;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;

}

button:hover
{
    background-color:darkseagreen;
}