h1,h2{
    text-align: center;
}
.row {
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    border: 3px solid blueviolet;
    
  }
.item
{
    border: 3px seagreen solid;
    background-color: aquamarine;
    margin:15px;
}
span{
    color: darkorange;
    font-weight: bold;
}
.rowrev {
    display: flex;
    flex-direction: row-reverse;
    background-color: antiquewhite;
    border: 3px solid blueviolet;
  }

  .col {
    display: flex;
    flex-direction:column;
    background-color: antiquewhite;
    border: 3px solid blueviolet;
  }
  .colrev {
    display: flex;
    flex-direction:column-reverse;
    background-color: antiquewhite;
    border: 3px solid blueviolet;
  }

  .flex {
    display: flex;
    background-color: antiquewhite;
    border: 3px solid blueviolet;
  }

  .flex1 {
    display:inline-flex;
    background-color: antiquewhite;
    border: 3px solid blueviolet;
  }

  .wrap {
    display: flex;
    width: 20%;
   flex-wrap: wrap;
    background-color: antiquewhite;
    border: 3px solid blueviolet;
  }

  .nowrap {
    display: flex;
    width: 20%;
   flex-wrap:nowrap;
    background-color: antiquewhite;
    border: 3px solid blueviolet;
  }

  .wraprev {
    display: flex;
    width: 20%;
   flex-wrap:wrap-reverse;
    background-color: antiquewhite;
    border: 3px solid blueviolet;
  }

  .start {
    display: flex;
    justify-content: flex-start;
   flex-wrap:wrap-reverse;
    background-color: antiquewhite;
    border: 3px solid blueviolet;
  }

  .end {
    display: flex;
    justify-content: flex-end;
   flex-wrap:wrap-reverse;
    background-color: antiquewhite;
    border: 3px solid blueviolet;
  }

  .center {
    display: flex;
    justify-content:center;
   
    background-color: antiquewhite;
    border: 3px solid blueviolet;
  }

  .between {
    display: flex;
    justify-content:space-between;
   
    background-color: antiquewhite;
    border: 3px solid blueviolet;
  }

  .around {
    display: flex;
    justify-content:space-around;
   
    background-color: antiquewhite;
    border: 3px solid blueviolet;
  }

  .between {
    display: flex;
    justify-content:space-evenly;
  
    background-color: antiquewhite;
    border: 3px solid blueviolet;
  }

  .a{
    width: 80%;
    display: flex;
    row-gap: 50px;
   
  flex-direction:column;
    background-color: antiquewhite;
    border: 3px solid blueviolet; 
  }

  .b{
    display: flex;
   height: 90%;
   column-gap: 50px;
  flex-direction: row;
    background-color: antiquewhite;
    border: 3px solid blueviolet; 
  }