h1,h2{
    text-align: center;
}
.box {
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    border: 3px solid blueviolet;
 
    
  }
.item
{
    border: 3px seagreen solid;
    background-color: aquamarine;
    width: 20%;
    text-align: center;
   
}
.box :nth-child(1) { order: 2; }
.box :nth-child(2) { order: 3; }
.box :nth-child(3) { order: 1; }
.box :nth-child(4) { order: 3; }
.box :nth-child(5) { order: 1; }
.box1 {
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    border: 3px solid blueviolet;
 
    
  }
.one11
{
 flex-grow: 4;
 background-color: bisque;
}
.one1
{
 flex-grow: 1;

}
.two2
{
    flex-grow: 1;
}
.three3
{
    flex-grow: 1;
}
.four4
{
    flex-grow: 2;
}
.t3{
    background-color: bisque;
    flex-shrink: 4;
}