.box
{
    display:grid;
    grid-template-columns: 200px 200px 200px;
}

.item
{
    border: 3px blueviolet solid;
    background-color:bisque;
}

h1,h2{
    text-align: center;
}

.box1
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
}