.box
{
    display:grid;
    grid-template-columns: 200px 200px 200px;
}

.item
{
    border: 3px blueviolet solid;
    background-color:bisque;
}

h1,h2,h4{
    text-align: center;
}
p{
    text-align: center;
    font-size: larger;
    color: blueviolet;
    padding: 10px;
}
.box1
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
}

.box2
{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 2fr 1fr;
    gap:30px;
}
.box3
{
    display:grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    
}

.item1
{
    border: 3px seagreen solid;
    background-color: aquamarine;
}

header {
    grid-column: 1 / 4;
    grid-row: 1;
  }
  article{
    grid-column: 2/4;
    grid-row: 2;
  }
  aside{
      grid-row:2;
      grid-column: 1/2;
  }
  footer{
      grid-row: 3;
      grid-column: 1 / 4;
  }

  .container {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 20px;
  }

  header {
    grid-area: header;
  }
  
  article {
    grid-area: content;
  }
  
  aside {
    grid-area: sidebar;
  }
  
  footer {
    grid-area: footer;
  }