* {
    margin: 0;
    padding: 0;
}
.blox
{
    display: flex;
    
    flex-direction: column;
    background-color: antiquewhite;
    border: 5px solid blueviolet;
    align-items: stretch;
}
.btn {
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}
.btn:hover
{
    background-color:grey;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.background {
    background: black;
    background-blend-mode: darken;
    background-size: cover;
}

.nav-list {
    width: 70%;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 180px;
    border-radius: 50px;
}

.nav-list li {
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
   color: rgb(88, 81, 81);
}

.rightnav {
    width: 30%;
    text-align: right;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}



.container {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 20px;
  }

  header {
    grid-area: header;
  }
  
  article {
    grid-area: content;
  }
  
  aside {
    grid-area: sidebar;
  }
  
  footer {
    grid-area: footer;
  }