h1 {
    font-size: 60px;
    text-align: center;
  }
  
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }

  body {
    width: 600px;
    margin: 0 auto;
    background-color:mistyrose;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }

  * {
    color: green;
    font-style: italic;

}

.red {
    color: #f33;
  }
  
  .yellow {
    background: #ffa;
  }
  
  #blue {
      background:gainsboro;
    border: red 4px solid;
    text-align: center;
  }
span {
    background-color: skyblue;
  }
  input[type] {
    padding:5px; 
    border:2px solid rgb(17, 16, 16); 
     border-radius: 10px;
}
input[type=text] {
    background-color: aqua;
}

input[type~=email] {
    background-color: chartreuse;
}
input[name ^= f]{
    color: #f33;
}
input[name $= mail]{
    color:blue;
}

ol[type="a" i] {
    list-style-type: lower-alpha;
    background: lime;
  }
  div span{
      color:black;
      background:cornflowerblue;

  }


  div.child > span{
      background-color: red;
  }

  img ~ p {
    background: yellow;
  }