#timer {
    font-size:150px;
    margin:0 auto;
    width:1000px;
  }
  
  #buttons {
    margin:0 auto;
    width:600px; 
    
  }
  
  #buttons button {
    font-size:24px;
    background-color:bisque;
  }

  button:hover
  {
    cursor: pointer;
  }