h1 {
    font-size: 60px;
    text-align: center;
  }
  
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }

  body {
    width: 600px;
    margin: 0 auto;
    background-color:mistyrose;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }

  * {
    color: green;
    font-style: italic;

}

.red {
    color: #f33;
  }
  
  .yellow {
    background: #ffa;
  }
  
  #blue {
      background:gainsboro;
    border: red 4px solid;
    text-align: center;
  }
span {
    background-color: skyblue;
  }